.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 36px 40px;
    background-color: rgba(248, 250, 255, 1);
    box-sizing: border-box;
    width: 100%;
    z-index: 3;
}

.header:hover {
    background-color: rgba(243, 245, 250, 1);
}

.logo {
    display: flex;
    width: 269px;
    height: 40px;
    justify-content: space-between;
    align-items: baseline;
}

.gfl {
    width: 60px;
    height: 18px;
}

.burger-and-touch-container {
    display: flex;
    align-items: center;
}

.burger-menu {
  
    width: 30px;
    height: auto;
}

.get-in-touch {
    display: none;
}

@media (min-width: 768px) {

    .burger-menu {
        margin-right: 12px;
        
        
    }

    .get-in-touch {
        display: block;
    }
}

