.cases-component {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(248, 250, 255, 1);
    padding: 20px;
    overflow: hidden;

}

.vertic-line {
    display: none;
}


.header-cases {

    font-family: Oswald;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: (23, 61, 51, 1);
}

.slide {
    width: 320px;
    align-items: center;
}

.slide-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 320px;
}

.slide-number {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.current {
    color: rgba(23, 61, 51, 1);
    margin-right: 5px;
}

.total {
    color: rgba(23, 61, 51, 0.25);

}

.arrows {
    display: flex;
}

.arrow {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-slide {
    width: 320px;
}

.arr-green {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 12px;

}

.text-container {
    display: flex
}

.slide-info {
    background-color: rgba(234, 237, 241, 1);
    margin: 0;
    width: 320px;

}

.text {
    width: 175px;
    font-size: 18px;
    text-align: justify;
    margin-left: 10px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
}

.icon {
    font-size: 24px;
    margin: 10px 0;
}

.underlin {
    width: 90%;
    text-align: center;
    margin-left: 10px;
    height: 1px;
    background-color: #000;
    margin-bottom: 10px;

}

.under-info {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.slide2 {
    display: none;
}

@media (min-width: 768px) {
    .cases-component {
        padding-top: 100px;
        padding: 40px;


    }

    .header-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .header-cases {
        font-size: 36px;
        line-height: 36px;
        width: 264px;

    }

    .vertic-line {
        display: block;
        height: 50px;
        width: 1px;
        background-color: rgba(151, 210, 139, 1);
        margin-right: 8px;

    }


     
.slide {
    flex: 0 0 auto;
    box-sizing: border-box;
    scroll-snap-align: start;

}

.slide2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 

 .slider-container {
    display: flex;
   justify-content: space-between;
     
 }

}

@media (min-width: 1280px) {


    .header-cases {
           
            font-size: 48px;
            line-height: 48px;
            width: 398px;
            height: 96px;
        }

        .header-title {
            margin-top: 100px;
            align-items: center;
        }

        .vertic-line {
              height: 196px;
              width: 1px;
              align-items: left;
            
    
          }
    
    
    .slider-container {
        display: flex;
        
        align-items: center;
         
    }

   .slide {
    position: relative;
    margin: auto;
   }

   .slide2 {
       position: relative;
       margin: auto;
   }

   .slide-controls {
    justify-items: end;
   }

   .img-slide {
       width: 596px;
   }

   .slide-info {
    width: 556px;
    font-size: 24px;
    padding: 20px;
   }

   .underlin {
       width: 100%;

   }

   .under-info {
    font-size: 16px;
    line-height: 19.2px;
   }

   .current {
    margin-left: 50px;
   }
}
   
        


    